<img src="https://i.ytimg.com/vi/Bi8mrMAqBMc/maxresdefault.jpg" alt="">
<p>DRF Water Heating Solutions mission is to help as many people as we can. As a plumbing services provider, we feel
    fortunate to be in a position to help our customers with solutions that bring their lives back to normal.</p>

    <p> DRF Trusted Property Solutions provides domestic hot water systems for residential, multifamily, university, and
    commercial properties. As a top provider of hot water solutions in the Midwest we’ve completed over 195,000 domestic
    hot water system installations. </p>

    <p>Our plumbers and technicians are background checked, fully trained, certified, and licensed and utilize the latest
    technology to address issues with bathroom plumbing, kitchen plumbing, and irrigation system. We perform irrigation
    RPZ certifications and specialize in water heater repair and water heater installation. </p>


    <h1 [innerHTML]="myh1"></h1>

    <img [src]="sourceofimage" height="200" width="250">
    <button (click)="intro()">intro</button>
    <button (click)="hideintro()">hide</button>
    
    <h2>
        {{ironman}}
    </h2>