p{
    color: black;
    font-size: larger;
    text-align: justify;
    width: 900px;
    margin-left: 200px;
    text-align: center;

}
img{

    height: 300px;
    width: 400px;
    text-align: center;

}